.controls
, .controls menu
{
	padding:0;
	margin:0;
}

.controls > *
, .seekbar > *
{
	display:inline-block;
	vertical-align:middle;
}

html.seekbar .seekbar
{
	position:relative;
	width:160px;
	height:25px;
}

html.seekbar .seekbar > .seek
{
	z-index:2;
	opacity:1;
	cursor:pointer;
}

html.seekbar .seekbar > *
{
	width:100%;
	height:100%;
	position:absolute;
	left:0;
}

button
{
	border-radius:0;
	width:50px;
	height:25px;
	color:white;
	background:black;
	border:0;
}
