@import url("reset.css");
@import url("demo.css");
body {
  width:100%;
  *zoom:1;
}
body:before, body:after {
  content:"";
  display:table;
}
body:after { clear:both; }
.column(@x, $columns:@columns) {
  display:inline;
  float:left;
  width:-20px;
  margin:0 10px;
}
header#top { margin-bottom:1em; }
@media only screen and (min-width: 768px) {
  article, aside { margin-bottom:1em; }
}
