/*
	Font: Accord Alt
	Designer: Aakash Soneri <http://www.aakashsoneri.com/>
	Licensed
		by: FontSpring <http://www.fontspring.com>
		to: Hugh Guiney <http://nospoon.tv>
		on: November 12th, 2011; August 28th, 2012
		for: Unlimited domains
*/

@font-face {
	font-family: 'Accord Alt'; /* Thin */
	font-weight: 100;
	font-style: normal;
	src:
		url('webfonts/accord-alt/thin.eot?') format('eot'),
		url('webfonts/accord-alt/thin.woff') format('woff'),
		url('webfonts/accord-alt/thin.svg#AccordAlternateThin') format('svg'),
		url('webfonts/accord-alt/thin.ttf') format('truetype')
	;
}

@font-face {
	font-family: 'Accord Alt'; /* Extra-Light */
	font-weight: 200;
	font-style: normal;
	src:
		url('webfonts/accord-alt/x-light.eot?') format('eot'),
		url('webfonts/accord-alt/x-light.woff') format('woff'),
		url('webfonts/accord-alt/x-light.svg#AccordAlternateExtraLight') format('svg'),
		url('webfonts/accord-alt/x-light.ttf') format('truetype')
	;
}

@font-face {
	font-family: 'Accord Alt'; /* Light */
	font-weight: 300;
	font-style: normal;
	src:
		url('webfonts/accord-alt/light.eot?') format('eot'),
		url('webfonts/accord-alt/light.woff') format('woff'),
		url('webfonts/accord-alt/light.svg#AccordAlternateLight') format('svg'),
		url('webfonts/accord-alt/light.ttf') format('truetype')
	;
}

@font-face {
	font-family: 'Accord Alt'; /* Regular */
	font-weight: normal; /* 400 */
	font-style: normal;
	src:
		url('webfonts/accord-alt/reg.eot?') format('eot'),
		url('webfonts/accord-alt/reg.woff') format('woff'),
		url('webfonts/accord-alt/reg.svg#AccordAlternateRegular') format('svg'),
		url('webfonts/accord-alt/reg.ttf') format('truetype')
	;
}

@font-face {
	font-family: 'Accord Alt'; /* Medium */
	font-weight: 500;
	font-style: normal;
	src:
		url('webfonts/accord-alt/med.eot?') format('eot'),
		url('webfonts/accord-alt/med.woff') format('woff'),
		url('webfonts/accord-alt/med.svg#AccordAlternateMedium') format('svg'),
		url('webfonts/accord-alt/med.ttf') format('truetype')
	;
}

@font-face {
	font-family: 'Accord Alt'; /* Bold */
	font-weight: bold; /* 700 */
	font-style: normal;
	src:
		url('webfonts/accord-alt/bold.eot?') format('eot'),
		url('webfonts/accord-alt/bold.woff') format('woff'),
		url('webfonts/accord-alt/bold.svg#AccordAlternateBold') format('svg'),
		url('webfonts/accord-alt/bold.ttf') format('truetype')
	;
}

@font-face {
	font-family: 'Accord Alt'; /* Extra Bold */
	font-weight: 800;
	font-style: normal;
	src:
		url('webfonts/accord-alt/x-bold.eot?') format('eot'),
		url('webfonts/accord-alt/x-bold.woff') format('woff'),
		url('webfonts/accord-alt/x-bold.svg#AccordAlternateExtraBold') format('svg'),
		url('webfonts/accord-alt/x-bold.ttf') format('truetype')
	;
}

/*
	Font: League Gothic Extended
	Designers
		Original: Morris Fuller Benton; American Type Founders Company
		Revival: Micah Rich, Caroline Hadilaksono; The League of Movable Type <http://theleagueofmoveabletype.com/>
		Extended: Dannci <http://typethefont.com/>
	Licensed
		to: The Public Domain
*/

@font-face {
	font-family: 'League Gothic Extended'; /* Regular/Bold */
	font-weight: bold;
	font-style: normal;
	src:
		url('webfonts/league-gothic-extended/reg.eot?') format('eot'),
		url('webfonts/league-gothic-extended/reg.woff') format('woff'),
		url('webfonts/league-gothic-extended/reg.svg#LeagueGothicExtendedRegular') format('svg'),
		url('webfonts/league-gothic-extended/reg.ttf') format('truetype')
	;
}

@font-face {
	font-family: 'League Gothic Extended'; /* Regular/Bold Italic */
	font-weight: bold;
	font-style: italic;
	src:
		url('webfonts/league-gothic-extended/italic.eot?') format('eot'),
		url('webfonts/league-gothic-extended/italic.woff') format('woff'),
		url('webfonts/league-gothic-extended/italic.svg#LeagueGothicExtendedItalicRg') format('svg'),
		url('webfonts/league-gothic-extended/italic.ttf') format('truetype')
	;
}


/*
	Font: FF Tisa Web Pro
	Designer: Mitja Miklavčič
	Licensed
		by: FSI FontShop International <https://www.fontfont.com>
		to: Hugh Guiney <http://nospoon.tv>
		on: November 12th, 2011
		for: 500,000 page views/month
*/

@font-face {
	font-family: 'FF Tisa Web Pro'; /* Small Caps Regular */
	font-weight: normal;
	font-style: normal;
	font-variant: small-caps; /* Must be defined first singe legacy browsers will ignore/overwrite */
	src:
		url('webfonts/ff-tisa-web-pro/sc-reg.eot?') format('eot'),
		url('webfonts/ff-tisa-web-pro/sc-reg.woff') format('woff')
	;
}

@font-face {
	font-family: 'FF Tisa Web Pro'; /* Regular */
	font-weight: normal;
	font-style: normal;
	font-variant: normal;
	src:
		url('webfonts/ff-tisa-web-pro/reg.eot?') format('eot'),
		url('webfonts/ff-tisa-web-pro/reg.woff') format('woff')
	;
}

@font-face {
	font-family: 'FF Tisa Web Pro'; /* Small Caps Italic */
	font-weight: normal;
	font-style: italic;
	font-variant: small-caps;
	src:
		url('webfonts/ff-tisa-web-pro/sc-italic.eot?') format('eot'),
		url('webfonts/ff-tisa-web-pro/sc-italic.woff') format('woff')
	;
}

@font-face {
	font-family: 'FF Tisa Web Pro'; /* Italic */
	font-weight: normal;
	font-style: italic;
	font-variant: normal;
	src:
		url('webfonts/ff-tisa-web-pro/italic.eot?') format('eot'),
		url('webfonts/ff-tisa-web-pro/italic.woff') format('woff')
	;
}

@font-face {
	font-family: 'FF Tisa Web Pro'; /* Small Caps Bold */
	font-weight: bold;
	font-style: normal;
	font-variant: small-caps;
	src:
		url('webfonts/ff-tisa-web-pro/sc-bold.eot?') format('eot'),
		url('webfonts/ff-tisa-web-pro/sc-bold.woff') format('woff')
	;
}

@font-face {
	font-family: 'FF Tisa Web Pro'; /* Bold */
	font-weight: bold;
	font-style: normal;
	font-variant: normal;
	src:
		url('webfonts/ff-tisa-web-pro/bold.eot?') format('eot'),
		url('webfonts/ff-tisa-web-pro/bold.woff') format('woff')
	;
}

@font-face {
	font-family: 'FF Tisa Web Pro'; /* Small Caps Bold Italic */
	font-weight: bold;
	font-style: italic;
	font-variant: small-caps;
	src:
		url('webfonts/ff-tisa-web-pro/sc-bold-italic.eot?') format('eot'),
		url('webfonts/ff-tisa-web-pro/sc-bold-italic.woff') format('woff')
	;
}

@font-face {
	font-family: 'FF Tisa Web Pro'; /* Bold Italic */
	font-weight: bold;
	font-style: italic;
	font-variant: normal;
	src:
		url('webfonts/ff-tisa-web-pro/bold-italic.eot?') format('eot'),
		url('webfonts/ff-tisa-web-pro/bold-italic.woff') format('woff')
	;
}