@import "/style/baseline.css";
@import "/style/font-face.css";
@import "/style/quotes.css";
@namespace "http://www.w3.org/1999/xhtml";
@namespace svg "http://www.w3.org/2000/svg";

*
{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box
}

/*
     OOCSS-style Headings, modified to enforce semantic markup and support ARIA levels
     aria-level=* on any element = margin-bottom same as corresponding level
     aria-level=* + role=heading = margin-bottom and font-size same as corresponding level
*/

[aria-level]
, [aria-level] > :first-child
, h3
, h4
, h5
, h6
{

     font-size: 24px;
     font-size: 2.4rem;
     line-height: 1.3;
}

h1
, [aria-level="1"]
, [aria-level="1"] > :first-child
{
     font-size: 48px;
     font-size: 4.8rem;
     line-height: 1.2;
}

h2
, [aria-level="2"]
, [aria-level="2"] > :first-child
, [aria-level="1"] > :first-child ~ *
{
     font-size: 32px;
     font-size: 3.2rem;
     line-height: 1.2;
}

[class|="total"] > *
{
	width:100%
}

@media only screen and (min-width: 50em)
{
	.total-10 > *
	{
		width: 10%
	}
	
	.total-9 > *
	{
		width: 11.1111111111111%
	}
	
	.total-8 > *
	{
		width: 12.5%
	}
	
	.total-7 > *
	{
		width: 14.2857142857143%
	}
	
	.total-6 > *
	{
		width: 16.6666666666667%
	}
	
	.total-5 > *
	, .total-10.macro > *
	{
		width: 20%
	}
	
	.total-4 > *
	, .total-8.macro > *
	{
		width: 25%
	}
	
	.total-3 > *
	, .total-6.macro > *
	{
		width: 30%; /* 33.3333333333333% */
	}
	
	/*.total-3 > *:nth-child(3n+1)
	, .total-6.macro > *:nth-child(3n+1)
	{
		margin-left: 0 !important;
	}
	
	.total-3 > *:nth-child(3n+3)
	, .total-6.macro > *:nth-child(3n+3)
	{
		margin-right: 0 !important;
	}*/
	
	.total-2>*, .total-4.macro>* {
		width: 50%
	}
	
	.total-1 > *
	, .total-2.macro > *
	, .video-thumbnails > *
	, .video-thumbnails.macro > *
	{
		width: 100%;
	}
}

html {
	font-size: 62.5%
}
body {
	font-size: 1.6rem;
	margin: 0;
	min-width: 320px;
	padding: 0;
	width: 100%;
	background: url(/img/soft_wallpaper.jpg);
	overflow-x: hidden
}
h1 {
	margin-bottom: 1.6rem
}
h2 {
margin-bottom:.7rem
}
#main h2:hover {
	color: #000
}
h3 {
	margin-bottom: .5em
}
header>a, h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
	text-decoration: none
}
.black a, a.black {
	background: #101010;
	text-decoration: none
}
.black a:hover, a.black:hover {
	text-decoration: none!important
}
#branding, #bottom, #nav>ul>li {
	background: #101010
}
#branding, #bottom, #menu {
background:, hsla(0,0%,6%,.125) 100%)*/#101010
}
#top>.content {
	position: relative
}
#menu {
	position: absolute;
	z-index: 1;
	bottom: -7px;
	height: 30px;
	width: 100%;
	background: transparent
}
#menu>a {
	color: transparent
}
#menu>a:hover {
	color: transparent
}
#menu>a:focus {
	color: #ebebeb
}
#menu>a {
	padding: 0
}
#branding {
	width: 100%
}
#nav>ul>li {
	background: linear-gradient(top, hsla(0,0%,6%,.125) 0, hsla(0,0%,6%,.25) 100%)
}
#menu>a {
	width: 100%;
	display: block;
	height: 100%
}
#branding, #nav {
	display: block
}
#branding>a {
	width: 100%;
	margin: 0 auto
}
.wordmark > span {
	font-weight: normal
}
#mqotd {
	max-width: 29em;
	margin: 0 auto;
	font-size: .85em
}
#mqotd blockquote {
	font-style: normal
}
#bottom {
	padding: 1em 0;
	font-size: 1.5em
}
[role="banner"] {
color:#ebebeb;
text-align:center
}
#nav>ul>li:last-child, #nav>ul>li>ul>li:last-child {
	border-right: 0
}
[role="banner"]>.content {
width:100%;
max-width:100%
}
[role="banner"] img {
	display: inline-block;
	margin: 0 2.5rem 0 0;
	vertical-align: middle
}
[role="banner"] h1 {
	margin-bottom: 0;
	vertical-align: middle
}
#branding>a {
	color: #ebebeb;
	display: block;
	padding: .75em 0
}
@media only screen and (min-width:70em) {
#branding>a {
	padding: .75em 0 1em 0
}
}
body, #tagline, #bottom p {
	font-family: 'skolar-1', 'skolar-2', 'FF Tisa Web Pro', Georgia, serif
}
hgroup>* cite, #bottom cite {
	font-style: normal;
	quotes: "“" "”" "‘" "’"
}
hgroup>* cite:before, #bottom cite:before {
	content: open-quote
}
hgroup>* cite:after, #bottom cite:after {
	content: close-quote
}
#main>header>hgroup>*, .callout>hgroup>* {
	font-family: 'League Gothic Extended', 'League Gothic', 'Bebas Neue', 'Bebas', 'Helvetica Neue', Helvetica, sans-serif;
	font-weight: bold;
	margin-top: 0
}
#main>header>hgroup>*:first-child, .callout>hgroup>*:first-child {
	text-transform: uppercase;
	text-shadow: 3px 3px 0 rgba(16,16,16,.125)
}
hgroup>* cite ~ time {
	font-size: .9em;
	margin: 0 .025em;
	display: inline-block;
	vertical-align: middle;
	margin-top: -.1em
}
[role="banner"], [role="banner"] h1, [role="contentinfo"] {
font-family:'Accord Alt', 'Ubuntu', 'Helvetica Neue', Helvetica, sans-serif
}
[role="banner"], [role="banner"] h1 {
font-weight:800
}
[role="banner"] h1 {
	font-size: 2.2em
}
a, a:visited {
	color: #282828;
	text-decoration: underline
}
a:hover, a:focus {
	color: #000;
	text-decoration: none
}
a[rel="tag"] {
	background: none repeat scroll 0 0 #000;
	border-radius: 1.3rem 1.3rem 1.3rem 1.3rem;
	color: #fff;
	cursor: pointer;
	font-family: sans-serif;
	font-size: 1.3rem;
	opacity: .5;
padding:.3rem 1.3rem;
	text-decoration: none
}
a[rel="tag"]:hover {
	opacity: 1
}
#branding>a {
	position: relative
}
#branding>a>#tagline, #branding>a:hover>#logo, #branding>a:hover>h1 {
	opacity: 0
}
#branding>a:hover>#tagline {
	opacity: 1
}
#branding>a>* {
	transition: opacity .75s ease-in
}
#tagline {
	margin-bottom: 0;
	margin-top: -1.25em
}
#tagline>q {
	position: relative;
	bottom: 1.25em
}
footer a {
	color: #405c80
}
article header a p {
	background: none repeat scroll 0 0 #000;
	float: left;
	height: 15rem;
	margin-left: -22.4rem;
	margin-right: 2.4rem;
	width: 20rem
}
article header a p img {
	height: auto;
	vertical-align: middle;
	width: 100%
}
figcaption {
	font-style: italic
}
figcaption cite, figcaption i {
	font-style: normal
}
#nav {
	font-size: 1.8rem
}
#nav, #nav ul {
	max-width: 100%;
	width: 100%
}
#nav ul {
	border-collapse: collapse;
	margin-left: 0;
	margin-right: 0;
	padding: 0;
	width: 100%;
	display: inline-block
}
#nav>ul {
	margin: 0
}
#nav li {
	display: inline-block
}
#nav>ul>li>ul {
	border: 0 none;
	z-index: 100;
	left: 0;
	top: 4.2em
}
#nav>ul>li * {
	border: 0 none
}
#nav li li {
	display: inline-block
}
#nav li a {
	display: inline-block;
	padding: 1rem 0;
	width: 100%;
	color: #ebebeb;
	text-decoration: none
}
#branding {
	position: relative;
	z-index: 1
}
[role="banner"] span.bracket {
	font-size: 12rem;
	position: absolute;
	top: 0
}
#nav>ul>li {
	width: 100%
}
#home article {
	margin: 1.6rem 0;
	max-width: 100%;
	padding: 1.6rem;
	text-align: center
}
#home article:first-child {
	margin-top: 0
}
#home article header img {
	height: auto;
	max-width: 100%;
	width: 49rem
}
article footer dl {
	display: block;
	margin-bottom: 1em;
	max-width: 100%
}
article footer dl dd {
	margin-left: 0;
	width: auto
}
article footer dl details.spoiler summary {
	display: inline-block
}
article footer dl dt {
	width: auto
}
di {
	display: block;
	margin: 0 1.5em 1.25em 0
}
article.full footer dl dt.pubdate, article footer dl dt.tags {
	clear: left
}
article header a p {
	margin: 0
}
#home article:hover {
	background: none repeat scroll 0 0 #f0f0f0
}
article.full figure {
	margin-left: 0
}
article.full figure iframe {
	border: 0 none
}
article.full footer dl dt.pubdate+dd:after {
	content: " / "
}
html.debug article {
	border: 1px solid #000
}
details summary {
	cursor: pointer
}
details.spoiler[open] summary, #home dt:not(.attrib) .implied {
	display: none
}
dl, dd {
	margin-bottom: 0
}
dt.cat ~ dd+dd:before {
	content: ", ";
	margin-left: -0.6rem
}
dt.cat ~ dt ~ dd:before {
	content: ""
}
dt.tags ~ dd {
margin-right:.8rem
}
dt.tags ~ dt ~ dd {
	margin-right: inherit
}
#branding>a {
	text-decoration: none
}
@media only screen and (min-width:70em) {
#branding>a {
	font-size: 125%
}
}
#logo {
	display: inline-block;
	font-size: 65%;
	vertical-align: middle
}
#logo svg, #logo svg|svg {
height:3em;
width:13em
}
#home article {
	overflow: auto;
	padding-left: 33rem;
	text-align: left
}
#home article header img {
	float: left;
	margin-left: -31.4rem;
	margin-right: 2rem;
	width: 39rem
}
#home article .summary {
	display: table-cell
}
.red a:hover, .red a:focus, a.red:hover, a.red:focus {
	background-color: #f6464b;
	background: linear-gradient(top, hsla(0,0%,6%,.3) 0, hsla(0,0%,6%,0) 100%), #f6464b url(/img/red-grain.png)
}
.red-purple a:hover, .red-purple a:focus, a.red-purple:hover, a.red-purple:focus {
	background-color: #ca506e;
	background: linear-gradient(top, hsla(0,0%,6%,.3) 0, hsla(0,0%,6%,0) 100%), #ca506e url(/img/red-purple-grain.png)
}
#branding>a svg|path, #branding>a path, #branding>a svg|use, #branding>a use {
stroke:#ebebeb
}
#nav>ul>li>a {
	color: #ebebeb;
	color: rgba(235,235,235,.85)
}
#nav>ul>li>a {
	color: rgba(16,16,16,.85)
}
.about > a {
	background: #939393
}
.about.category
, .about .category
{
	color: #939393;
}
.musings > a {
	background: #d0a06e	
}
.musings.category
, .musings .category
{
	color: #d0a06e;
}
.inspirations > a
{
	background: #6c8f8e
}
.inspirations.category
, .inspirations .category
{
	color: #6c8f8e;
}
.reviews > a {
	background: #819e6d
}
.reviews.category
, .reviews .category
{
	color: #819e6d;
}
.productions > a {
	background: #ca7f7e
}
.productions.category
, .productions .category
{
	color: #ca7f7e;
}
.shop > a {
	background: #9c5c59
}
.shop.category
, .shop .category
{
	color: #9c5c59;
}
.subscribe > a {
	background: #49757e
}
.subscribe.category
, .subscribe .category
{
	color:#49757e;
}
[role="main"] a {
	color: hsl(303,25%,48%);
	/*text-decoration: none*/
}
[role="main"] a:hover, [role="main"] a:focus {
	/*text-decoration: underline*/
}
.pullquote {
	font-size: 1.5em
}
#nav>ul>li>a, #nav>ul>li>ul>li>a {
	padding: 2.5rem 0;
	z-index: 1;
	position: relative;
	font-size: 1.05em
}
#skip {
	margin: 0;
	padding: 0;
	max-width: 100%;
	text-align: center
}
#skip a, a#skip {
	color: #ebebeb;
	text-decoration: none
}
#nav>ul>li>ul {
	width: 100%
}
#home .featured {
	width: 100%
}
#content {
	font-size: 1.2em;
	max-width: 100%
}
.content {
	margin: 0 auto
}
.content, .entry-content {
	max-width: 80%
}
.entry-content>* {
	max-width: 100%
}
figcaption {
	margin-left: auto;
	margin-right: auto
}
dt {
	font-weight: bold;
	font-size: 1.025em
}
cite, #tagline {
	font-style: italic;
	quotes: none
}
hgroup>*, dt {
	font-family: 'Accord Alt'
}
aside hgroup>*:first-child {
	text-transform: inherit
}
aside>header>hgroup>* {
	font-family: 'Accord Alt', 'Ubuntu', 'Helvetica Neue', Helvetica, sans-serif
}
#tagline {
	max-width: inherit;
	font-size: 1.2em;
	font-weight: normal
}
[role="contentinfo"]
/*, [role="contentinfo"] a, [role="contentinfo"] a:visited, [role="contentinfo"] a svg path*/
{
text-align:center;
fill:white;
color:#ebebeb
}
[role="banner"] a:hover, [role="banner"] a:focus {;
	color: #101010
}
[role="contentinfo"]>.content>* {
margin-left:auto;
margin-right:auto
}
[role="contentinfo"]>.content>address>ul>li {
display:inline-block;
vertical-align:middle;
max-width:137px
}
#nav>ul>li>ul>li {
	background: #101010
}
code.casual {
	font: inherit
}
.entry-content {
	-webkit-hyphens: auto;
	-webkit-hyphenate-character: "\2010";
	-webkit-hyphenate-limit-after: auto;
	-webkit-hyphenate-limit-before: auto;
	-moz-hyphens: auto;
	hyphens: auto;
	text-align: justify
}
.entry-content>aside {
	text-align: left
}
.entry-content>p {
	margin-bottom: 0;
	text-indent: 1.5em
}
.entry-content>p:first-child, .entry-content>blockquote+p, .entry-content>ul+p, .entry-content>ol+p, .entry-content>dl+p {
	text-indent: 0
}
.entry-content>aside>blockquote, .entry-content>aside>blockquote>p {
	margin-top: .5em;
	margin-bottom: .5em
}
#nav>ul>li>ul {
	position: absolute
}
#nav {
	position: absolute;
	top: 0;
	left: 0
}
#nav>ul>#back {
	width: 0;
	height: 0;
	border: 0;
	background: transparent
}
#nav>ul>#back>a {
	color: transparent;
	border: 0;
	position: absolute;
	z-index: 0;
	top: -25em;
	bottom: -25em;
	background-color: transparent
}
#nav:target > ul > #back
{
	width: 100%;
	height: 100%
}
#toc {
	clip: rect(0pt,0pt,0pt,0pt);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	width: 1px
}
#nav {
	height: 6.25em;
	z-index: 0;
}
.js:not(.resize-in-progress) #nav {
	transition:height 1s ease-in;
}
/*#bottom > .content
{
	max-width: 90%;
}*/
#bottom a:visited
{
	color: inherit;
}
#cross-promotion > ul
{
	list-style: none;
	padding: 0;
	margin: 0 auto;
	display: table;
}
#cross-promotion > ul > li
{
	/*width: 30%;*/
	display: inline-block;
	vertical-align: top;
	margin:0 .5em 1em .5em;
	text-align:left;
}​

#cross-promotion > ul > li hgroup > *
{
	margin-bottom: .25em;
	font-size: .85em;
	/*font-weight: 800;*/
	text-decoration: none;
}
hgroup > *:not(:last-child)
{
	margin:0;
}
#bottom > .content > * > hgroup
{
	margin-bottom: 1em;
}
hgroup > * [title]
{
	border-bottom: none;
}
#cross-promotion > ul > li p
{
	font-size: 1.8rem;
	margin-bottom:0;
}
cite.casual
{
	quotes:none !important;
	font-style:normal;
}
@media only screen and (min-width:70em) {
#nav {
	height: 7.9em;
}
}
#nav:target, #nav>ul>li:hover>ul, #nav>ul>li>ul:hover, #nav>ul>li:hover>ul:hover {
	width: 100%
}
#toc:target {
	width: inherit
}
#toc:target {
	clip: auto;
	height: inherit;
	margin: inherit;
	overflow: visible
}
#nav:target {
	height: 35em
}
@media only screen and (min-width:50em) {
#nav:target {
	height: 8.3em
}
#nav:target>ul {
	position: absolute;
	bottom: -1.4em
}
}
@media only screen and (min-width:70em) {
#nav:target {
	height: 10.25em
}
}
#nav>ul>#back>a {
	z-index: -1;
	color: transparent;
	background: transparent
}
#nav:target>ul>#back>a {
	z-index: 0;
}
#back {
	position: absolute!important;
	top: 0;
	right: 0;
	height: 1080px!important
}
#nav>ul {
	border-top: 1px solid rgba(16,16,16,.25);
	bottom: 0;
	position: absolute
}
#toc {
	position: fixed;
	top: 1em;
	right: 1em;
	background: #ebebeb url(/img/soft_wallpaper.jpg);
	border: 4px solid black;
	padding: .5em 1.25em 1em 1em;
	box-shadow: 0 0 16px rgba(16,16,16,.9);
	z-index: 1
}
#toc>ol {
	list-style-type: none;
	padding: 0;
	margin: 0
}
.phrase {
	white-space: nowrap
}
#main>footer>.content {
	max-width: 100%
}
#about {
	padding: 0 10%;
	border-left: 0;
	border-right: 0
}
.decorative {
	border: 2px solid #101010;
	border-left: 0;
	border-right: 0;
	padding: .75em 0;
	margin-bottom: 0
}
.decorative+* {
	margin: 1.5em 0
}
.major {
	margin-bottom: 3em;
	margin-top: 3em
}
.decorative>*:first-child {
	font-family: 'League Gothic Extended';
	text-transform: uppercase;
	font-size: 2.25em;
	text-align: center;
	position: relative;
	margin-bottom: 0;
	border: 2px dashed #101010;
	border-left: 0;
	border-right: 0;
	padding: .3em 0;
	text-shadow: 3px 3px 0 rgba(16,16,16,.125)
}
[role="heading"][aria-level="2"]>.fancyshadow [aria-hidden="true"] {
left:.05em;
bottom:-0.05em
}
.fancyshadow {
	text-shadow: none!important;
	position: relative;
	z-index: 100
}
.fancyshadow [aria-hidden="true"] {
	position: absolute;
	left: 3px;
	text-align: center;
	width: 100%;
	bottom: 17px;
	opacity: .4;
	bottom: 15px;
	-webkit-mask-image: url('/img/diagonal-lines.png');
	-webkit-mask-repeat: repeat;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	z-index: 0
}
.decorative {
	position: relative
}
@media only screen and (min-width:50em) {
.ranking {
	display: inherit
}
#nav {
	top: 0
}
#nav>ul {
	display: table
}
#nav>ul>li {
	display: table-cell;
	display: inline-block
}
#nav {
	padding: 0
}
#nav>ul>li {
	width: 14.2857142857143%;
	position: relative
}
#nav [class|="total"] > *
{
	width: 100%
}
#nav>ul>li>ul>li:last-child, #nav>ul>li>ul>li:last-child>a {
	border-bottom-left-radius: .3em;
	border-bottom-right-radius: .3em
}
#nav>ul>li>ul {
	border-top: 1px solid rgba(17,17,17,.5)
}
#nav>ul>li>ul>li {
	border-left: 0;
	border-right: 0
}
}
#cross-promotion > ul > li > a
{
	color: inherit;
	padding: .5em;
	text-decoration: none;
	/*border: 2px dashed transparent;*/
	display: block;
	transition: background .25s ease-in;
}
#cross-promotion > ul > li > a:hover
{
	/*border-color: rgb(235, 235, 235);*/
	background: rgba(235, 235, 235, .125);
}
#cross-promotion > ul > li > a > article > img
{
	margin-bottom: .5em;
	width: 100%;
}