*
{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

dt
{
	font-weight: bold;
	margin-bottom: .25em;
}

dd
{
	margin-left: 0;
	margin-bottom: .75em;
}

p:first-child
{
	margin-top: 0;
}

input[type="text"]
, input:not([type])
, input[type="date"]
, input[type="datetime"]
, input[type="datetime-local"]
, input[type="number"]
, input[type="url"]
, textarea
, [contenteditable="true"]
{
	width: 15em;
	padding: 5px;
}

input[type="text"]
, input:not([type])
, input[type="date"]
, input[type="datetime"]
, input[type="datetime-local"]
, input[type="number"]
, input[type="url"]
, textarea
, [contenteditable="true"]
, .js input:invalid
{
	border: 2px solid rgb(40, 40, 40);
}

input.short
{
	width: 4em;
}

input {
	-webkit-transition: border-color .25s linear;
	transition: border-color .25s linear;
}

input:invalid
, .js input.show-validation:invalid
{
	box-shadow: none;
	outline: none;
	border-color: #C00;
}

input:focus
{
	outline: none;
	box-shadow: 0 0 5px rgba(0, 0, 0, .5);
}

form
{
	width: 90%;
	margin: 3em auto;
}

input.long
, textarea.long
, input[type="url"]
{
	width: 30em;
}

ul
, ol
{
	padding-left: 0;
}

ul.options
, ol.options
{
	list-style-type: none;
}

.options > li
, .options > dd
{
	display: inline-block;
	margin-right: .75em;
}

.options input[type="checkbox"]
, .options input[type="radio"]
{
	margin-right: .25em;
}

#editor
{
	width: 39em;
}

#editor > *
{
	width: 100%;
	min-height: 20em;
}

var
{
	font-weight: bold;
	font-style: normal;
}