      <footer id="footer" class="footer">
        <p class="social-media">
          <a title="No Spoon Productions on IMDb" aria-label="No Spoon Productions on IMDb" href="https://www.imdb.com/search/title/?companies=co0607776">
            <img src="/img/imdb-logo--white.svg" height="25" alt="IMDb logo" />
          </a>
          <a title="No Spoon Productions on Instagram" aria-label="No Spoon Productions on Instagram" href="https://instagram.com/nospoonproductions">
            <img src="/img/instagram-logo--white.svg" height="25" alt="Instagram logo" />
          </a>
          <a title="No Spoon Productions on Facebook" aria-label="No Spoon Productions on Facebook" href="https://facebook.com/NoSpoonProductions">
            <img src="/img/facebook-logo--white.svg" height="25" alt="Facebook logo" />
          </a>
          <a title="No Spoon Productions on Twitter" aria-label="No Spoon Productions on Twitter" href="https://twitter.com/NoSpoonProduct">
            <img src="/img/twitter-logo--white.svg" height="21" alt="Twitter logo" />
          </a>
          <a title="No Spoon Productions on LinkedIn" aria-label="No Spoon Productions on LinkedIn" href="https://www.linkedin.com/company/no-spoon-productions/">
            <img src="/img/linkedin-logo--white.svg" height="25" alt="LinkedIn logo" />
          </a>
        </p>
        <p class="copyright">© <span id="est-year">2008</span>–<span id="current-year"><%= @currentYear %></span> No Spoon Productions <abbr>LLC</abbr><%# • <a href="/legal">Legal</a> #%></p>
      </footer>
    </div><!--/#shading-->
    <%# <script><%= @productData #></script> %>
    <% if defined?(stripe) %>
    <script src="https://js.stripe.com/v3/"></script>
    <script src="https://checkout.stripe.com/checkout.js"></script>
    <% end %>
    <%# <script src="/script/polyfills/object.assign.js"></script> %>
    <% if defined?(jquery) %>
    <script src="/node_modules/jquery/dist/jquery.slim.min.js"></script>
    <script src="/node_modules/jquery.repeater/jquery.repeater.min.js"></script>
    <% end %>
    <script src="/script/main.js"></script>
    <% if defined?(page) %>
    <script src="/script/<%= page %>.js"></script>
    <% end %>
    <% if defined?(stripe) %>
    <script src="/script/checkout.js"></script>
    <% end %>
    <% if defined?(scripts) %><script src="/script/<%= scripts %>.js"></script><% end %>
  </body>
</html>