<p>Thanks to the Internet, you can create, publish, and market anything you want to all on your own.</p>
<p>A lot of suits want to get between you and your money though.</p>
<!-- <ul> -->
<p>A startup that “connects employers and job candidates” while marking up your hourly rate.</p>
<p>Sales agents who don’t pay you your film’s revenue until they make their money back and then some.</p>
<p>Startup investors who force you to chase growth at all costs, because the chance of your company going down in flames is an acceptable risk for the millions they stand to make.</p>
<!-- </ul> -->
<p>This one goes out to all the bootstrappers and DIYers who recognize that you don’t need these vultures—just a Wi-Fi connection and the determination to make it work.</p>
