<h2 class="sr-only" data-translate="DESCRIPTION">Description</h2>
<figure>
  <blockquote cite="http://www.seinfeldscripts.com/TheLetter.htm">
    <p>He is a loathsome, offensive brute, yet I can’t look away.</p>
  </blockquote>
  <figcaption>— Mr. Armstrong</figcaption>
</figure>
<p>In <a href="https://en.wikipedia.org/wiki/The_Letter_(Seinfeld)" title="“The Letter (‘Seinfeld’)” on Wikipedia" target="_blank" rel="noopener noreferrer"><cite>The Letter</cite></a>, Kramer poses for a painting for Jerry’s new girlfriend, Nina. The result? The masterpiece, <cite>The Kramer</cite>. But what if <cite>Seinfeld</cite> took place in an alternate reality where Cosmo was also <a href="https://en.wikipedia.org/wiki/Krampus" title="“Krampus” on Wikipedia" target="_blank" rel="noopener noreferrer">Krampus</a>, the Christmas demon? You’d get <cite>The Kramper</cite>!</p>
<p>With two obscure references in one, this holiday shirt from the multiverse is sure to confuse your relatives! Happy Festivus!</p>
<p>This parody artwork is a high-fidelity, hand-painted reproduction of the original portrait. Artist <a href="https://www.artstation.com/artist/oliver" target="_blank" rel="noopener noreferrer">Oliver Guiney</a> employed painstaking attention-to-detail, cross-referencing the <cite>Seinfeld</cite> episode to ensure accuracy.</p>
<!-- Original description: --
<p>What do you get when you cross Kramer with Krampus? The Kramper!</p>
-->