<article class="product-item">
  <a id="the-kramper" class="product-link" title="View product" href="/collection/the-kramper/">
    <img
      id="the-kramper--white"
      src="/collection/the-kramper/product--white.png"
      srcset="
        /collection/the-kramper/product--white.png 1x,
        /collection/the-kramper/product--white@2x.png 2x,
        /collection/the-kramper/product--white@3x.png 3x"
      sizes="(min-width: 342px) 256px"
      width="256"
      alt="Product shot"
    />
    <img
      id="the-kramper--heather-grey"
      src="/collection/the-kramper/product--heather-grey.png"
      srcset="
        /collection/the-kramper/product--heather-grey.png 1x,
        /collection/the-kramper/product--heather-grey@2x.png 2x,
        /collection/the-kramper/product--heather-grey@3x.png 3x"
      sizes="(min-width: 342px) 256px"
      width="256"
      alt="Product shot"
      hidden="hidden"
    />
    <img
      id="the-kramper--black"
      src="/collection/the-kramper/product--black.png"
      srcset="
        /collection/the-kramper/product--black.png 1x,
        /collection/the-kramper/product--black@2x.png 2x,
        /collection/the-kramper/product--black@3x.png 3x"
      sizes="(min-width: 342px) 256px"
      width="256"
      alt="Product shot"
      hidden="hidden"
    />
    <img
      id="the-kramper--cranberry"
      src="/collection/the-kramper/product--cranberry.png"
      srcset="
        /collection/the-kramper/product--cranberry.png 1x,
        /collection/the-kramper/product--cranberry@2x.png 2x,
        /collection/the-kramper/product--cranberry@3x.png 3x"
      sizes="(min-width: 342px) 256px"
      width="256"
      alt="Product shot"
      hidden="hidden"
    />
    <img
      id="the-kramper--teal"
      src="/collection/the-kramper/product--teal.png"
      srcset="
        /collection/the-kramper/product--teal.png 1x,
        /collection/the-kramper/product--teal@2x.png 2x,
        /collection/the-kramper/product--teal@3x.png 3x"
      sizes="(min-width: 342px) 256px"
      width="256"
      alt="Product shot"
      hidden="hidden"
    />
    <img
      id="the-kramper--kelly-green"
      src="/collection/the-kramper/product--kelly-green.png"
      srcset="
        /collection/the-kramper/product--kelly-green.png 1x,
        /collection/the-kramper/product--kelly-green@2x.png 2x,
        /collection/the-kramper/product--kelly-green@3x.png 3x"
      sizes="(min-width: 342px) 256px"
      width="256"
      alt="Product shot"
      hidden="hidden"
    />
  </a>
  <h2 class="product-heading" data-data-translate="_PRODUCT_NAME_">The Kramper</h2>
  <!-- <p class="product-tagline">Kramer × Krampus</p> -->
  <div class="product-rundown">
    <div class="product-category" data-translate="T_SHIRT"><%= @copy.T_SHIRT[@language] %></div>
    <div class="product-price">$25</div>
  </div>
  <ul class="product-colors" aria-label="Colors">
    <li><button class="color" style="background-color:#FFFFFF;" title="White" data-colorway="the-kramper--white"><%= @copy.COLORWAY_WHITE[@language] %></button></li>
    <li><button class="color" style="background-color:#b0b0b2" title="Heather Grey" data-colorway="the-kramper--heather-grey"><%= @copy.COLORWAY_HEATHER_GREY[@language] %></button></li>
    <li><button class="color" style="background-color:#000000;" title="Black" data-colorway="the-kramper--black"><%= @copy.COLORWAY_BLACK[@language] %></button></li>
    <li><button class="color" style="background-color:#990033" title="Cranberry" data-colorway="the-kramper--cranberry"><%= @copy.COLORWAY_CRANBERRY[@language] %></button></li>
    <li><button class="color" style="background-color:#1a8145" title="Kelly Green" data-colorway="the-kramper--kelly-green"><%= @copy.COLORWAY_KELLY_GREEN[@language] %></button></li>
    <li><button class="color" style="background-color:#0092c1" title="Teal" data-colorway="the-kramper--teal"><%= @copy.COLORWAY_TEAL[@language] %></button></li>
  </ul>
</article>
<article class="product-item">
  <a id="redblue-tokyo" class="product-link" title="View product" data-href="redblue-tokyo/index.html">
    <img
      id="redblue-tokyo--natural"
      src="redblue-tokyo/product--natural.png"
      srcset="redblue-tokyo/product--natural.png 1x, redblue-tokyo/product--natural@2x.png 2x, redblue-tokyo/product--natural@3x.png 3x"
      sizes="(min-width: 342px) 256px"
      width="256"
      alt="Product shot"
    />
    <img
      id="redblue-tokyo--scuba-blue"
      src="redblue-tokyo/product--scuba-blue.png"
      srcset="redblue-tokyo/product--scuba-blue.png 1x, redblue-tokyo/product--scuba-blue@2x.png 2x, redblue-tokyo/product--scuba-blue@3x.png 3x"
      sizes="(min-width: 342px) 256px"
      width="256"
      alt="Product shot"
      hidden="hidden"
    />
    <img
      id="redblue-tokyo--night"
      src="redblue-tokyo/product--night.png"
      srcset="redblue-tokyo/product--night.png 1x, redblue-tokyo/product--night@2x.png 2x, redblue-tokyo/product--night@3x.png 3x"
      sizes="(min-width: 342px) 256px"
      width="256"
      alt="Product shot"
      hidden="hidden"
    />
  </a>
  <h2 class="product-heading" data-data-translate="_PRODUCT_NAME_">RedBlue Tokyo</h2>
  <!-- <p class="product-tagline">Kramer × Krampus</p> -->
  <div class="product-category" data-translate="T_SHIRT"><%= @copy.T_SHIRT[@language] %></div>
  <ul class="product-colors" aria-label="Colors">
    <li><button class="color" style="background-color:rgb(242, 235, 223);" title="<%= @copy.COLORWAY_NATURAL[@language] %>" data-colorway="redblue-tokyo--natural" data-translate="COLORWAY_NATURAL" data-translate-target="title,textContent"><%= @copy.COLORWAY_NATURAL[@language] %></button></li>
    <li><button class="color" style="background-color:rgb(90, 166, 198);" title="<%= @copy.COLORWAY_SCUBA_BLUE[@language] %>" data-colorway="redblue-tokyo--scuba-blue" data-translate="COLORWAY_SCUBA_BLUE" data-translate-target="title,textContent"><%= @copy.COLORWAY_SCUBA_BLUE[@language] %></button></li>
    <li><button class="color" style="background-color:rgb(52, 56, 56);" title="<%= @copy.COLORWAY_NIGHT[@language] %>" data-colorway="redblue-tokyo--night" data-translate="COLORWAY_NIGHT" data-translate-target="title,textContent"><%= @copy.COLORWAY_NIGHT[@language] %></button></li>
  </ul>
</article>